/* DatePicker stilini Material UI ga moslash */
.react-datepicker {
  font-family: "Roboto", sans-serif !important;
  border: 1px solid #e0e0e0 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
}

.react-datepicker__header {
  background-color: #f5f5f5 !important;
  border-bottom: none !important;
  padding: 8px 0 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #1976d2 !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #e0e0e0 !important;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #1976d2;
}

.react-datepicker__close-icon::after {
  background-color: #1976d2;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}
